:root {
  --gray-1: #202028;
  --gray-2: #404050;
  --gray-3: #707085;
  --gray-4: #a0a0b8;
  --gray-5: #f0f0ff;
  --lime: #3fff00;
  --main-color-1: #3fff00;
  --main-color-2: #3f00ff;

  background-color: var(--gray-1);
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  background-color: var(--gray-1);
  background-color: #ff3f00;

  background: radial-gradient(ellipse at center, var(--gray-2), var(--gray-1));

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gray;
}

.name-box {
  margin: 20px;
  font-weight: bold;
  width: 100%;
}

.socials-box {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 66px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  filter: invert(1);
  opacity: 0.7;

}
.socials-image-box {
  width: 60px;
  height: 60px;
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-radius: 4px;
}

.socials-image {
  width: 40px;
  height: 40px;
}

.socials-link {
  position: absolute;
  width: 100%;
  height: 33%;
}

.about-me {
  width: max(350px, 50%);
  font-size: 20px;
  margin: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-card-shadow-wrapper {
  border-radius: 80px;
  box-shadow:       0 0 5px 5px rgba(0, 0, 0, 0.1),
              inset 0 0 0px 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.skill-card-shadow-wrapper {
  transform: scale(0.6);
  -moz-transform: scale(0.6);
  /*margin-left: -40px;
  margin-right: -40px;*/
  margin: -20px -50px;
}

.main-card {
  background-color: transparent;

  width: 350px;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 20px dashed var(--gray-3);
  border-radius: 80px;

  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;




  background-color: var(--gray-5);
  border: 20px dashed var(--gray-5);
  color: var(--gray-1);
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.0);
  
}

@keyframes card-wire-animation {
  5% { 
    background-color: var(--gray-5);
    border: 20px dashed var(--gray-5);
    color: var(--gray-1);
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.0);

  }
  15% {
    background-color: transparent;
    border: 20px dashed var(--gray-3);
    color: var(--gray-5);
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);

  }
  
  30% { 
    background-color: transparent;
    border: 20px dashed var(--gray-3);
    color: var(--gray-5);  
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.1);

  }
  40% { 
    background-color: var(--gray-5);
    border: 20px dashed var(--gray-5);
    color: var(--gray-1);
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.0);

  }
}

.main-card-animation {
  animation-name: card-wire-animation;
  animation-duration: 25.4s;
  animation-timing-function: ease;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  /*animation-direction: alternate;*/
}

.card-animation-1 {
  animation-delay: 1s;
}

.card-animation-2 {
  animation-delay: 4s;
}

.card-animation-3 {
  animation-delay: 7s;
}

.card-animation-4 {
  animation-delay: 9s;
}

.card-animation-5 {
  animation-delay: 10s;
}

.card-animation-6 {
  animation-delay: 11.2s;
}

.card-animation-7 {
  animation-delay: 12.5s;
}

.card-animation-8 {
  animation-delay: 13s;
}

.card-animation-9 {
  animation-delay: 14.3s;
}

.card-box {
  background-color: var(--gray-2);
  background: radial-gradient(ellipse at top, transparent, var(--gray-2)),
              radial-gradient(ellipse at bottom, var(--gray-2), transparent);

  border-radius: 15px;
  margin: 15px;
  margin-bottom: 20px;
  /*color: var(--background-color);*/
  color: var(--text-1);
  /*text-shadow: 0 6px 7px #000000;*/

  padding: 10px;
  width: calc(100% - 50px);
  box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.7),
              0 0 10px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  left: 25px;

}

.skill-card {
  height: 150px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.hobby-card {
  height: 280px;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.section-title {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
}

.project-image {
  width: 200px;
  height: 200px;

  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-image {
  position: absolute;
  left: 15px;
  width: 100px;
  height: 100px;
  margin: 0px;
  margin-top: 5px;
  margin-left: -10px;
  padding: 0px;
  border-radius: 50px 50px 0px 50px;
  overflow:hidden;
}

.hobby-image {
  width: 150px;
  height: 150px;

  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.node-image {
  border-radius: 100px;
}

.aws-image {
  width: 55%;
  margin: 0px;
  margin-left: -25px;
}

.fastai-image {
  border-radius: 0px;
  margin-top: 5px;
  margin-left: 10px;
  width: 75px;
}

.pytorch-image {
  border-radius: 0px;
  width: 80px;
  margin-left: -5px;
}

.card-title {
  font-weight: bold;
}

.skill-card-title {
  font-size: 1.7em;
  margin: 0px;
  margin-left: 100px;

  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: flex-start;
}

.skill-text-box {
  display: flex;
  flex-wrap:wrap;
  align-items: flex-start;
  justify-content: center;
  height: 75px;
  margin-top: -15px;
  margin-bottom: -15px;
}

.skill-text {
  background-color: rgba(0, 0, 10, 0.2);
  border-radius: 100px;
  margin: 4px;


  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;

}

.skill-card-body {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
  
}




.card-button {
  position: relative;
  bottom: 10px;
  background-color: var(--gray-1);
  color: var(--gray-5);
  margin-top: 30px;
}

.card-button:hover, .card-button:focus, .card-button:active {
  background-color: var(--lime);
  color: var(--gray-2);
}


.bottom-section {
  color: var(--gray-5);

  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.bottom-link {
  font-weight: bold;
  color: var(--gray-5);
  width: 100px;
  margin: 20px;
}